<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sla een geheim bericht op</title>
</head>
<body>
<h1>Sla een geheim bericht op</h1>

<form id="target" action="dummy.html">
    Naam:<br>
    <input type="text" name="name" id="name"><br>
    Wachtwoord:<br>
    <input type="text" name="password" id="password"><br>
    Geheim bericht:
    <br>
    <textarea id="secret_message" name="secret_message" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Opslaan">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(function () {
        $("#target").submit(function (event) {
            event.preventDefault();

            var name = $('#name').val();
            var password = $('#password').val();
            var secretMessage = $('#secret_message').val();

            var data = {name: name, password: password, secret_message: secretMessage};

            $.ajax({
                type: 'POST',
                url: '/secrets',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (msg) {
                    alert(msg.message);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var obj = $.parseJSON(xhr.responseText);
                    console.log(obj);
                    alert(obj.message);
                }
            });
        });
    });
</script>
</body>
</html>